html {
  font-size: 14px;
}

body {
  font-family: 'IBM Plex Serif', serif; Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 1rem;
  line-height: 2rem;
  font-weight:400;
  color: #161616;
  background: #FAFAFA;
  margin: 0 auto;
  position: relative;
  top:30px;
  margin-bottom: 30px;
  max-width: 550px;
  padding: 40px;
}

a {
  color: #0f62fe;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.category {
  background-color: #e0e0e0;
}


.title {
  background-color: #e0e0e0;
}

.author {
  color: #161616;
}

.highlight {
  background-color: #70eadd;
}

h1 {
  font-size: 2rem;
  font-weight:400;
  padding-bottom: 1rem;

}

h2 {
  font-size: 1.25rem;
  font-weight:400;
}

h3 {
  font-size: 1.25rem;
  font-weight:400;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

summary {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 32px;
}

notes {
  color: #8d8d8d;
  padding-bottom: 32px;
}

line-break {
  border-top: 1px solid #e0e0e0;
  padding-bottom: 1rem;
}

footer {
  border-top: 1px solid #e0e0e0;
}

mark {
  background-color: #8fecd4;

}

.booklist {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  padding-left: 15px;
  border-left: 3px solid #e0e0e0;
}
